@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    height: 100vh
}

.article-image {
    max-height: 500px;
}

.flex-center {
    @apply flex;
    @apply items-center;
    @apply justify-center;
}

.flex-right {
    @apply flex;
    @apply items-center;
    @apply justify-end;
}

.flex-left {
    @apply flex;
    @apply items-center;
    @apply justify-start;
}

.border-primary {
    @apply border-purple-600
}

.touch-target {
    min-height: 48px;
    min-width: 48px;
}