@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-center {
    @apply flex;
    @apply items-center;
    @apply justify-center;
}

.border-primary {
    @apply border-purple-600
}

.touch-target {
    min-height: 48px;
    min-width: 48px;
}